<h1>Listing camps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Min age</th>
    <th>Max age</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Details</th>
    <th>Fee</th>
    <th>Discount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @camps.each do |camp| %>
  <tr>
    <td><%= camp.name %></td>
    <td><%= camp.min_age %></td>
    <td><%= camp.max_age %></td>
    <td><%= camp.start_time %></td>
    <td><%= camp.end_time %></td>
    <td><%= camp.details %></td>
    <td><%= camp.fee %></td>
    <td><%= camp.discount %></td>
    <td><%= link_to 'Show', camp %></td>
    <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
    <td><%= link_to 'Destroy', camp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Camp', new_camp_path %>
