<div class="index">
  <h1>Camps</h1>

  <table>
    <tr id="headers">
      <th>Name</th>
      <th>Min age</th>
      <th>Max age</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Fee</th>
      <th>Discount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @camps.each do |camp| %>
    <tr>
      <td><%= camp.name %></td>
      <td><%= camp.min_age %></td>
      <td><%= camp.max_age %></td>
      <td><%= camp.start_time %></td>
      <td><%= camp.end_time %></td>
      <td><%= camp.fee %></td>
      <td><%= camp.discount %></td>
      <td><%= link_to 'Show Details', camp, :id => "show#{camp.id}" %></td>
      <td><%= link_to 'Edit Camp', edit_camp_path(camp), :id => "edit#{camp.id}" %></td>
      <td><%= link_to 'Delete Camp', camp, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= link_to 'New Camp', new_camp_path %>
</div>
