<div class="show">
  <p id="notice"><%= notice %></p>

  <h1><%= @camp.name %></h1>
  <table><tr><td>
    <ul>
      <li>Age Range: <%= @camp.min_age %> &mdash; <%= @camp.max_age %></li>
      <li>Start Date: <%= @camp.formatted_start_time %></li>
      <li>End Date: <%= @camp.formatted_end_time %></li>
      <li>Fee: $<%= @camp.fee %>
    </ul>
  </td></tr></table>

  <h2>Details</h2>
  <table><tr><td><%= @camp.details %></td></tr></table>

  <h2>Sessions</h2>

  <table><tr><td>
    <ul>
      <% @camp.sessions.each do |session| %>
        <li>
          <%= session.start_date %> - <%= session.end_date %>:
          <%= session.name %>, <%= session.code %>
        </li>
      <% end %>
    </ul>
  </td></tr></table>

  <h3><%= link_to 'Back', all_camps_path %></h3>
</div>
