<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @camp.name %>
</p>

<p>
  <b>Min age:</b>
  <%= @camp.min_age %>
</p>

<p>
  <b>Max age:</b>
  <%= @camp.max_age %>
</p>

<p>
  <b>Start time:</b>
  <%= @camp.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @camp.end_time %>
</p>

<p>
  <b>Details:</b>
  <%= @camp.details %>
</p>

<p>
  <b>Fee:</b>
  <%= @camp.fee %>
</p>

<p>
  <b>Discount:</b>
  <%= @camp.discount %>
</p>

<%= link_to 'Add Session', new_camp_session_path(@camp) %> |
<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
