<h2>Edit <%= @user.full_name %></h2>

<%= form_for(@user, :url => url_for(:action => :update_user, :id => @user.id), :html => { :method => :put }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"><%= f.label :email %>
  <%= f.email_field :email %></div>

    <div class="field"><%= f.label :title %>
    <%= f.text_field :title %></div>

    <div class="field"><%= f.label :first_name %>
    <%= f.text_field :first_name %></div>

    <div class="field"><%= f.label :middle_name %>
    <%= f.text_field :middle_name %></div>

    <div class="field"><%= f.label :last_name %>
    <%= f.text_field :last_name %></div>

    <div class="field"><%= f.label :birth_date %>
    <%= f.date_select :birth_date, { :start_year => 1900, :end_year => Time.now.year } %></div>

    <div class="field"><%= f.label :address_line_1 %>
    <%= f.text_field :address_line_1 %></div>

    <div class="field"><%= f.label :address_line_2 %>
    <%= f.text_field :address_line_2 %></div>

    <div class="field"><%= f.label :address_line_3 %>
    <%= f.text_field :address_line_3 %></div>

    <div class="field"><%= f.label :city %>
    <%= f.text_field :city %></div>

    <div class="field"><%= f.label :state %>
    <%= f.text_field :state %></div>

    <div class="field"><%= f.label :postal_code %>
    <%= f.text_field :postal_code %></div>

    <div class="field"><%= f.label :country %>
    <%= f.text_field :country %></div>

    <div class="field"><%= f.label :home_phone %>
    <%= f.text_field :home_phone %></div>

    <div class="field"><%= f.label :work_phone %>
    <%= f.text_field :work_phone %></div>

    <div class="field"><%= f.label :mobile_phone %>
    <%= f.text_field :mobile_phone %></div>

    <div class="field"><%= f.label :fax %>
    <%= f.text_field :fax %></div>

		<div class="field"><%= f.label :is_admin %>
		<%= f.check_box :is_admin %></div>
		
		<div class="field"><%= f.label :is_member %>
		<%= f.check_box :is_member %></div>


    <div class="field"><%= f.label :notes %>
    <%= f.text_area :notes %></div>

  <div class="field"><%= f.submit "Update" %></div>
<% end %>
