<p>Welcome, <%= current_user.full_name %></p>
<ul>
	<li>
		<%= link_to "Events", events_path %>
	</li>
	<li>
		<%= link_to "Camps", camps_path, :id => 'admin_camps' %>
	</li>
  <li>
    <%= link_to "Contacts/Users", url_for(:action => :users) %>
  </li>
  <li>
    <%= link_to "Authorize.Net Credentials", :authorize_net_credentials_edit %>
  </li>
</ul>
