<h2>Edit Authorize.Net Credentials</h2>

<%= form_for(@credential, :url => :authorize_net_credentials, :html => { :method => :put }) do |f| %>

  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :value => '' %></p>

  <p><%= f.submit "Update" %></p>
<% end %>
