<h3>Your information</h3>
<p class="note">You can update your information by visiting your <%= link_to 'profile', edit_user_path(current_user) %>.</p>
<p>First name: <%= user.first_name %></p>
<p>Last name: <%= user.last_name %></p>
<p>Address: <%= user.address_line_1 %></p>
<p>Address 2 <%= user.address_line_2 %></p>
<p>City <%= user.city %></p>
<p>State <%= user.state %></p>
<p>Zip <%= user.postal_code %></p>
<p>Home phone <%= user.home_phone %></p>
