<%= form_for(@session_registration) do |reg_form| %>
  <% if @session_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@session_registration.errors.count, "error") %> prohibited this session_registration from being saved:</h2>

      <ul>
      <% @session_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="children">
		<div class="child">
			<% reg_form.fields_for :children do |child_form| %>
				<div class="field">
					<%= child_form.label :first_name %>
					<%= child_form.text_field :first_name %>
				</div>
		
				<div class="field">
					<%= child_form.label :last_name %>
					<%= child_form.text_field :last_name %>
				</div>
		
				<div class="field">
					<%= child_form.label :birthdate %>
					<%= child_form.date_select :birthdate, {:start_year => 1900, :end_year => Time.now.year} %>
				</div>
		
				<div class="field">
					<%= child_form.label :age %>
					<%= child_form.text_field :age %>
				</div>
		
				<div class="field">
					<%= child_form.label :gender %>
					<label>Male <%= child_form.radio_button :male, 'true' %></label>
					<label>Female <%= child_form.radio_button :male, 'false' %></label>
				</div>
		
				<div class="field">
					<%= child_form.check_box '_destroy',  {:class => 'destroy'} %>
					<%= child_form.label '_destroy', 'Remove' %>
				</div>
				<% child_form.fields_for :session_child_registrations do |session_form| %>
					<div class="sessions">
						<div class="session">
							<div class="field">
								<%= session_form.label :session %>
								<%= session_form.select :session_id, @sessions.map{|s| ["#{s.name} - $#{s.camp.fee}", s.id]}, {:prompt => "Select Session"}, {:class => 'session'} %>
							</div>
			
							<div class="field">
								<%= session_form.label :photo %>
								<%= session_form.check_box :photo, {:class => 'session'} %>
							</div>
			
							<div class="field">
								<%= session_form.label :early_discount %>
								<%= session_form.check_box :early_discount, {:class => 'session'} %>
							</div>
		
							<div class="field">
								<%= session_form.label :extended_care_cost %>
								<%= session_form.text_field :extended_care_cost, {:class => 'session'} %>
							</div>
		
							<div class="field">
								<%= session_form.check_box '_destroy', {:class => 'session destroy'} %>
								<%= session_form.label '_destroy', 'Remove' %>
							</div>
						</div>
					</div>
				<% end %>
				<input class="add_session" type="button" value="Add Session" />
	
			<% end %>
		</div>
	</div>
	<input id="add_child" type="button" value="Add Child" />
	<%= render :partial => 'shared/payment' %>
  <div class="actions">
    <%= reg_form.submit %>
  </div>
<% end %>
