<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @session_registration.user.full_name %>
</p>

<p>
  <b>Cc auth:</b>
  <%= @session_registration.cc_auth %>
</p>

<% @session_registration.children.each do |child| %>
	<p>
		<%= child.first_name %> <%= child.last_name %>
	</p>
	<% child.session_child_registrations.each do |reg| %>
		<p>
			<%= reg.session.name %>
		</p>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_session_registration_path(@session_registration) %> |
<%= link_to 'Back', session_registrations_path %>
