<h1>Event Management</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event_path(event) %></td>
    <td><%= event.description[0..50] + '...' %></td>
    <td>
      <%= link_to 'Edit', edit_event_path(event), :id => "edit#{event.id}" %>
      <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New Event', new_event_path %></p>
<p><%= link_to 'Back to admin page', '/admin' %></p>
