<h1><%= @event.name %></h1>

<p><%= @event.description %></p>

<p>
  <b>Start date:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @event.end_date %>
</p>

<%= render :partial => 'event_registrations/form' %>
