<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? || @donation.transaction.message %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count + (@donation.transaction.message ? 1 : 0), "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% if @donation.transaction.message %>
        <li><%= @donation.transaction.message %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <%= render :partial => 'shared/display_user_info', :locals => { :user => current_user } %>
  <% else %>
    <p class="note">If you are a member or you've registered with us before, you can 
    <%= link_to 'log in', new_user_session_path %> using your email.</p>
    <%= render :partial => 'shared/user_info', :locals => { :user => @user } %>
  <% end %>
  <%= render :partial => 'shared/payment' %>

  <div class="field">
    <%= f.label :in_memory_of %>
    <%= f.text_field :in_memory_of %>
  </div>

  <div class="field required">
    <%= f.label :amount, 'Donation amount' %>
    <%= f.text_field :amount, { :style => 'size: 6em;' } %>
  </div>

  <div class="actions">
    <%= f.submit 'Donate' %>
  </div>
<% end %>
