<h1>Donation Management</h1>

<% if @donations.empty? %>
  No donations yet
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Paid online?</th>
      <th></th>
    </tr>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.last_name %>, <%= donation.first_name %></td>
        <td><%= donation.email %></td>
        <td><%= donation.amount %></td>
        <td><%= donation.paid_online? ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Details', donation %>
          <%= link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
