<p id="notice"><%= notice %></p>

<p>
  <b>In memory of:</b>
  <%= @donation.in_memory_of %>
</p>

<p>
  <b>First name:</b>
  <%= @donation.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @donation.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @donation.email %>
</p>

<p>
  <b>Address:</b>
  <%= @donation.address %>
</p>

<p>
  <b>City:</b>
  <%= @donation.city %>
</p>

<p>
  <b>State:</b>
  <%= @donation.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @donation.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @donation.phone %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Cc auth:</b>
  <%= @donation.cc_auth %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
