<%= form_for([@event, @event_registration]) do |f| %>
  <% if @user.errors.any? || @event_registration.transaction.message %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count + (@event_registration.transaction.message ? 1 : 0), "error") %> prohibited this registration from happening:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% if @event_registration.transaction.message %>
        <li><%= @event_registration.transaction.message %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <%= render :partial => 'shared/display_user_info', :locals => { :user => current_user } %>
  <% else %>
    If you are a member or you've registered with us before, you can 
    <%= link_to 'log in', new_user_session_path %> using your email.
    <%= render :partial => 'shared/user_info', :locals => { :user => @user } %>
  <% end %>
  <%= render :partial => 'shared/payment' %>
  <div class="actions">
    <%= f.submit 'Register' %>
  </div>
<% end %>
