<%= form_for(@event_registration) do |f| %>
  <% if @event_registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_registration.errors.count, "error") %> prohibited this event_registration from being saved:</h2>

      <ul>
      <% @event_registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cc_auth %><br />
    <%= f.text_field :cc_auth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
