<h1>Listing event_registrations</h1>

<table>
  <tr>
    <th>Event</th>
    <th>User</th>
    <th>Cc auth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_registrations.each do |event_registration| %>
  <tr>
    <td><%= event_registration.event_id %></td>
    <td><%= event_registration.user_id %></td>
    <td><%= event_registration.cc_auth %></td>
    <td><%= link_to 'Show', event_registration %></td>
    <td><%= link_to 'Edit', edit_event_registration_path(event_registration) %></td>
    <td><%= link_to 'Destroy', event_registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event registration', new_event_registration_path %>
