<h1>Listing occurrences</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Price</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @occurrences.each do |occurrence| %>
  <tr>
    <td><%= occurrence.start %></td>
    <td><%= occurrence.end %></td>
    <td><%= occurrence.price %></td>
    <td><%= occurrence.details %></td>
    <td><%= link_to 'Show', [@event, occurrence] %></td>
    <td><%= link_to 'Edit', edit_event_occurrence_path([@event, occurrence]) %></td>
    <td><%= link_to 'Destroy', [@event, occurrence], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Occurrence', new_event_occurrence_path(@event) %>
