<!DOCTYPE html>
<html>
  <head>
    <title>Woldumar</title>
    <%= cached_stylesheet_tag 'screen', :media => 'screen, projection' %>
    <%= cached_stylesheet_tag 'print', :media => 'print' %>
    
    <!--[if lt IE 9]>
      <%= cached_stylesheet_tag 'ie', :media => 'screen, projection' %>
    <![endif]-->

    <%= javascript_include_tag :defaults, :cache => 'cache/woldumar' %>
    
    <%= csrf_meta_tag %>

  </head>
  <body>
    <div class="two-col">
      <div id="header" class="span-24 last">
        <%= nav_bar %>
      </div>
      <div id="content" class="span-24 last">
        <%= yield %>
      </div>
      <div id="footer" class="span-24 last">
        Footer
      </div>
    </div>
  </body>
</html>
